html {
    line-height: 1.4;
}

body {
    line-height: 1;
}

p {
    font-family: Georgia,"Times New Roman",serif;
    text-align: justify;
    font-size: 1rem;
}

header {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

h1 {
    font-size: 2rem;
}



ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background-image: linear-gradient(darkred, black);
}

body {
    line-height: 1;
    padding: 2.5%;
    background: white;
    margin: 5% 5% 5% 5%;
    border: solid 3px black;
}

#bigT {
    border: solid 2px darkred;
    background-size: cover;
    float: left;
    padding: 3%;
    margin-right: .5rem;
    text-transform: uppercase;
    font-size: 4rem;
    color: white;
    background-image: url(../images/tree-of-death.jpg);
}

#comparison {
    float: right;
    width: 60%;
}

#xerxes {
    float: left;
}

#movieName {
    color: red;
}