html {
    background-image: linear-gradient(darkred, black);
}

body {
    line-height: 1;
    padding: 2.5%;
    background: white;
    margin: 5% 5% 5% 5%;
    border: solid 3px black;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

